::-webkit-scrollbar {
  width: 0;
}

.ao-progress-bar {
  &__bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
  }
  &__percent {
    position: fixed;
    bottom: 5px;
    right: 27px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
  }
}
