$_1: 8.333333%;
$_2: 16.666667%;
$_3: 25%;
$_4: 33.333333%;
$_5: 41.666667%;
$_6: 50%;
$_7: 58.333333%;
$_8: 66.666667%;
$_9: 75%;
$_10: 83.333333%;
$_11: 91.666667%;
$_12: 100%;

.container,
.container-fluid {
  width: $_12;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col {
  flex: 1 0 0%;

  &-auto {
    flex: 0 0 auto;
    width: auto;
  }
  &-1 {
    flex: 0 0 auto;
    width: $_1;
  }
  &-2 {
    flex: 0 0 auto;
    width: $_2;
  }
  &-3 {
    flex: 0 0 auto;
    width: $_3;
  }
  &-4 {
    flex: 0 0 auto;
    width: $_4;
  }
  &-5 {
    flex: 0 0 auto;
    width: $_5;
  }
  &-6 {
    flex: 0 0 auto;
    width: $_6;
  }
  &-7 {
    flex: 0 0 auto;
    width: $_7;
  }
  &-8 {
    flex: 0 0 auto;
    width: $_8;
  }
  &-9 {
    flex: 0 0 auto;
    width: $_9;
  }
  &-10 {
    flex: 0 0 auto;
    width: $_10;
  }
  &-11 {
    flex: 0 0 auto;
    width: $_11;
  }
  &-12 {
    flex: 0 0 auto;
    width: $_12;
  }
}

.offset {
  &-1 {
    margin-left: $_1;
  }
  &-2 {
    margin-left: $_2;
  }
  &-3 {
    margin-left: $_3;
  }
  &-4 {
    margin-left: $_4;
  }
  &-5 {
    margin-left: $_5;
  }
  &-6 {
    margin-left: $_6;
  }
  &-7 {
    margin-left: $_7;
  }
  &-8 {
    margin-left: $_8;
  }
  &-9 {
    margin-left: $_9;
  }
  &-10 {
    margin-left: $_10;
  }
  &-11 {
    margin-left: $_11;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .col-sm {
    flex: 1 0 0%;

    &-auto {
      flex: 0 0 auto;
      width: auto;
    }
    &-1 {
      flex: 0 0 auto;
      width: $_1;
    }
    &-2 {
      flex: 0 0 auto;
      width: $_2;
    }
    &-3 {
      flex: 0 0 auto;
      width: $_3;
    }
    &-4 {
      flex: 0 0 auto;
      width: $_4;
    }
    &-5 {
      flex: 0 0 auto;
      width: $_5;
    }
    &-6 {
      flex: 0 0 auto;
      width: $_6;
    }
    &-7 {
      flex: 0 0 auto;
      width: $_7;
    }
    &-8 {
      flex: 0 0 auto;
      width: $_8;
    }
    &-9 {
      flex: 0 0 auto;
      width: $_9;
    }
    &-10 {
      flex: 0 0 auto;
      width: $_10;
    }
    &-11 {
      flex: 0 0 auto;
      width: $_11;
    }
    &-12 {
      flex: 0 0 auto;
      width: $_12;
    }
  }
  .offset-sm {
    &-0 {
      margin-left: 0;
    }
    &-1 {
      margin-left: $_1;
    }
    &-2 {
      margin-left: $_2;
    }
    &-3 {
      margin-left: $_3;
    }
    &-4 {
      margin-left: $_4;
    }
    &-5 {
      margin-left: $_5;
    }
    &-6 {
      margin-left: $_6;
    }
    &-7 {
      margin-left: $_7;
    }
    &-8 {
      margin-left: $_8;
    }
    &-9 {
      margin-left: $_9;
    }
    &-10 {
      margin-left: $_10;
    }
    &-11 {
      margin-left: $_11;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md {
    flex: 1 0 0%;

    &-auto {
      flex: 0 0 auto;
      width: auto;
    }
    &-1 {
      flex: 0 0 auto;
      width: $_1;
    }
    &-2 {
      flex: 0 0 auto;
      width: $_2;
    }
    &-3 {
      flex: 0 0 auto;
      width: $_3;
    }
    &-4 {
      flex: 0 0 auto;
      width: $_4;
    }
    &-5 {
      flex: 0 0 auto;
      width: $_5;
    }
    &-6 {
      flex: 0 0 auto;
      width: $_6;
    }
    &-7 {
      flex: 0 0 auto;
      width: $_7;
    }
    &-8 {
      flex: 0 0 auto;
      width: $_8;
    }
    &-9 {
      flex: 0 0 auto;
      width: $_9;
    }
    &-10 {
      flex: 0 0 auto;
      width: $_10;
    }
    &-11 {
      flex: 0 0 auto;
      width: $_11;
    }
    &-12 {
      flex: 0 0 auto;
      width: $_12;
    }
  }
  .offset-md {
    &-0 {
      margin-left: 0;
    }
    &-1 {
      margin-left: $_1;
    }
    &-2 {
      margin-left: $_2;
    }
    &-3 {
      margin-left: $_3;
    }
    &-4 {
      margin-left: $_4;
    }
    &-5 {
      margin-left: $_5;
    }
    &-6 {
      margin-left: $_6;
    }
    &-7 {
      margin-left: $_7;
    }
    &-8 {
      margin-left: $_8;
    }
    &-9 {
      margin-left: $_9;
    }
    &-10 {
      margin-left: $_10;
    }
    &-11 {
      margin-left: $_11;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg {
    flex: 1 0 0%;

    &-auto {
      flex: 0 0 auto;
      width: auto;
    }
    &-1 {
      flex: 0 0 auto;
      width: $_1;
    }
    &-2 {
      flex: 0 0 auto;
      width: $_2;
    }
    &-3 {
      flex: 0 0 auto;
      width: $_3;
    }
    &-4 {
      flex: 0 0 auto;
      width: $_4;
    }
    &-5 {
      flex: 0 0 auto;
      width: $_5;
    }
    &-6 {
      flex: 0 0 auto;
      width: $_6;
    }
    &-7 {
      flex: 0 0 auto;
      width: $_7;
    }
    &-8 {
      flex: 0 0 auto;
      width: $_8;
    }
    &-9 {
      flex: 0 0 auto;
      width: $_9;
    }
    &-10 {
      flex: 0 0 auto;
      width: $_10;
    }
    &-11 {
      flex: 0 0 auto;
      width: $_11;
    }
    &-12 {
      flex: 0 0 auto;
      width: $_12;
    }
  }
  .offset-lg {
    &-0 {
      margin-left: 0;
    }
    &-1 {
      margin-left: $_1;
    }
    &-2 {
      margin-left: $_2;
    }
    &-3 {
      margin-left: $_3;
    }
    &-4 {
      margin-left: $_4;
    }
    &-5 {
      margin-left: $_5;
    }
    &-6 {
      margin-left: $_6;
    }
    &-7 {
      margin-left: $_7;
    }
    &-8 {
      margin-left: $_8;
    }
    &-9 {
      margin-left: $_9;
    }
    &-10 {
      margin-left: $_10;
    }
    &-11 {
      margin-left: $_11;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Extra large devices (large desktops and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-xl {
    flex: 1 0 0%;

    &-auto {
      flex: 0 0 auto;
      width: auto;
    }
    &-1 {
      flex: 0 0 auto;
      width: $_1;
    }
    &-2 {
      flex: 0 0 auto;
      width: $_2;
    }
    &-3 {
      flex: 0 0 auto;
      width: $_3;
    }
    &-4 {
      flex: 0 0 auto;
      width: $_4;
    }
    &-5 {
      flex: 0 0 auto;
      width: $_5;
    }
    &-6 {
      flex: 0 0 auto;
      width: $_6;
    }
    &-7 {
      flex: 0 0 auto;
      width: $_7;
    }
    &-8 {
      flex: 0 0 auto;
      width: $_8;
    }
    &-9 {
      flex: 0 0 auto;
      width: $_9;
    }
    &-10 {
      flex: 0 0 auto;
      width: $_10;
    }
    &-11 {
      flex: 0 0 auto;
      width: $_11;
    }
    &-12 {
      flex: 0 0 auto;
      width: $_12;
    }
  }
  .offset-xl {
    &-0 {
      margin-left: 0;
    }
    &-1 {
      margin-left: $_1;
    }
    &-2 {
      margin-left: $_2;
    }
    &-3 {
      margin-left: $_3;
    }
    &-4 {
      margin-left: $_4;
    }
    &-5 {
      margin-left: $_5;
    }
    &-6 {
      margin-left: $_6;
    }
    &-7 {
      margin-left: $_7;
    }
    &-8 {
      margin-left: $_8;
    }
    &-9 {
      margin-left: $_9;
    }
    &-10 {
      margin-left: $_10;
    }
    &-11 {
      margin-left: $_11;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Extra extra large devices (large desktops and up)
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .col-xxl {
    flex: 1 0 0%;

    &-auto {
      flex: 0 0 auto;
      width: auto;
    }
    &-1 {
      flex: 0 0 auto;
      width: $_1;
    }
    &-2 {
      flex: 0 0 auto;
      width: $_2;
    }
    &-3 {
      flex: 0 0 auto;
      width: $_3;
    }
    &-4 {
      flex: 0 0 auto;
      width: $_4;
    }
    &-5 {
      flex: 0 0 auto;
      width: $_5;
    }
    &-6 {
      flex: 0 0 auto;
      width: $_6;
    }
    &-7 {
      flex: 0 0 auto;
      width: $_7;
    }
    &-8 {
      flex: 0 0 auto;
      width: $_8;
    }
    &-9 {
      flex: 0 0 auto;
      width: $_9;
    }
    &-10 {
      flex: 0 0 auto;
      width: $_10;
    }
    &-11 {
      flex: 0 0 auto;
      width: $_11;
    }
    &-12 {
      flex: 0 0 auto;
      width: $_12;
    }
  }
  .offset-xxl {
    &-0 {
      margin-left: 0;
    }
    &-1 {
      margin-left: $_1;
    }
    &-2 {
      margin-left: $_2;
    }
    &-3 {
      margin-left: $_3;
    }
    &-4 {
      margin-left: $_4;
    }
    &-5 {
      margin-left: $_5;
    }
    &-6 {
      margin-left: $_6;
    }
    &-7 {
      margin-left: $_7;
    }
    &-8 {
      margin-left: $_8;
    }
    &-9 {
      margin-left: $_9;
    }
    &-10 {
      margin-left: $_10;
    }
    &-11 {
      margin-left: $_11;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Specific widths
// @media screen and (min-width: 576px) and (max-width: 768px) {  }
// @media screen and (min-width: 769px) and (max-width: 992px) {  }
// @media screen and (min-width: 993px) and (max-width: 1199px) {  }
