$_1: 8.33333%;
$_2: 16.66666%;
$_3: 24.99999%;
$_4: 33.32222%;
$_5: 41.66665%;
$_6: 49.99998%;
$_7: 58.33331%;
$_8: 66.66664%;
$_9: 74.99997%;
$_10: 83.33333%;
$_11: 91.66663%;
$_12: 100%;

// div {
//   border: 1px solid;
// }

// Extra small devices (portrait phones, less than 576px)
// No media query necessary since this is the default

body,
.container-fluid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: max-content;

  & .container-fluid {
    grid-column: 1 / 4;
  }

  .container {
    grid-column: 2 / 3;
  }

  & > :not(.container) {
    grid-column: 1 / 4;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  .col- {
    &1 {
      min-width: $_1;
    }
    &2 {
      min-width: $_2;
    }
    &3 {
      min-width: $_3;
    }
    &4 {
      min-width: $_4;
    }
    &5 {
      min-width: $_5;
    }
    &6 {
      min-width: $_6;
    }
    &7 {
      min-width: $_7;
    }
    &8 {
      min-width: $_8;
    }
    &9 {
      min-width: $_9;
    }
    &10 {
      min-width: $_10;
    }
    &11 {
      min-width: $_11;
    }
    &12 {
      min-width: $_12;
    }

    &offset- {
      &1 {
        margin-left: $_1;
      }
      &2 {
        margin-left: $_2;
      }
      &3 {
        margin-left: $_3;
      }
      &4 {
        margin-left: $_4;
      }
      &5 {
        margin-left: $_5;
      }
      &6 {
        margin-left: $_6;
      }
      &7 {
        margin-left: $_7;
      }
      &8 {
        margin-left: $_8;
      }
      &9 {
        margin-left: $_9;
      }
      &10 {
        margin-left: $_10;
      }
      &11 {
        margin-left: $_11;
      }
      &12 {
        margin-left: $_12;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .row .col-sm- {
    &1 {
      min-width: $_1;
    }
    &2 {
      min-width: $_2;
    }
    &3 {
      min-width: $_3;
    }
    &4 {
      min-width: $_4;
    }
    &5 {
      min-width: $_5;
    }
    &6 {
      min-width: $_6;
    }
    &7 {
      min-width: $_7;
    }
    &8 {
      min-width: $_8;
    }
    &9 {
      min-width: $_9;
    }
    &10 {
      min-width: $_10;
    }
    &11 {
      min-width: $_11;
    }
    &12 {
      min-width: $_12;
    }

    &offset- {
      &1 {
        margin-left: $_1;
      }
      &2 {
        margin-left: $_2;
      }
      &3 {
        margin-left: $_3;
      }
      &4 {
        margin-left: $_4;
      }
      &5 {
        margin-left: $_5;
      }
      &6 {
        margin-left: $_6;
      }
      &7 {
        margin-left: $_7;
      }
      &8 {
        margin-left: $_8;
      }
      &9 {
        margin-left: $_9;
      }
      &10 {
        margin-left: $_10;
      }
      &11 {
        margin-left: $_11;
      }
      &12 {
        margin-left: $_12;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .row .col-md- {
    &1 {
      min-width: $_1;
    }
    &2 {
      min-width: $_2;
    }
    &3 {
      min-width: $_3;
    }
    &4 {
      min-width: $_4;
    }
    &5 {
      min-width: $_5;
    }
    &6 {
      min-width: $_6;
    }
    &7 {
      min-width: $_7;
    }
    &8 {
      min-width: $_8;
    }
    &9 {
      min-width: $_9;
    }
    &10 {
      min-width: $_10;
    }
    &11 {
      min-width: $_11;
    }
    &12 {
      min-width: $_12;
    }

    &offset- {
      &1 {
        margin-left: $_1;
      }
      &2 {
        margin-left: $_2;
      }
      &3 {
        margin-left: $_3;
      }
      &4 {
        margin-left: $_4;
      }
      &5 {
        margin-left: $_5;
      }
      &6 {
        margin-left: $_6;
      }
      &7 {
        margin-left: $_7;
      }
      &8 {
        margin-left: $_8;
      }
      &9 {
        margin-left: $_9;
      }
      &10 {
        margin-left: $_10;
      }
      &11 {
        margin-left: $_11;
      }
      &12 {
        margin-left: $_12;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .row .col-lg- {
    &1 {
      min-width: $_1;
    }
    &2 {
      min-width: $_2;
    }
    &3 {
      min-width: $_3;
    }
    &4 {
      min-width: $_4;
    }
    &5 {
      min-width: $_5;
    }
    &6 {
      min-width: $_6;
    }
    &7 {
      min-width: $_7;
    }
    &8 {
      min-width: $_8;
    }
    &9 {
      min-width: $_9;
    }
    &10 {
      min-width: $_10;
    }
    &11 {
      min-width: $_11;
    }
    &12 {
      min-width: $_12;
    }

    &offset- {
      &1 {
        margin-left: $_1;
      }
      &2 {
        margin-left: $_2;
      }
      &3 {
        margin-left: $_3;
      }
      &4 {
        margin-left: $_4;
      }
      &5 {
        margin-left: $_5;
      }
      &6 {
        margin-left: $_6;
      }
      &7 {
        margin-left: $_7;
      }
      &8 {
        margin-left: $_8;
      }
      &9 {
        margin-left: $_9;
      }
      &10 {
        margin-left: $_10;
      }
      &11 {
        margin-left: $_11;
      }
      &12 {
        margin-left: $_12;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .row .col-xl- {
    &1 {
      min-width: $_1;
    }
    &2 {
      min-width: $_2;
    }
    &3 {
      min-width: $_3;
    }
    &4 {
      min-width: $_4;
    }
    &5 {
      min-width: $_5;
    }
    &6 {
      min-width: $_6;
    }
    &7 {
      min-width: $_7;
    }
    &8 {
      min-width: $_8;
    }
    &9 {
      min-width: $_9;
    }
    &10 {
      min-width: $_10;
    }
    &11 {
      min-width: $_11;
    }
    &12 {
      min-width: $_12;
    }

    &offset- {
      &1 {
        margin-left: $_1;
      }
      &2 {
        margin-left: $_2;
      }
      &3 {
        margin-left: $_3;
      }
      &4 {
        margin-left: $_4;
      }
      &5 {
        margin-left: $_5;
      }
      &6 {
        margin-left: $_6;
      }
      &7 {
        margin-left: $_7;
      }
      &8 {
        margin-left: $_8;
      }
      &9 {
        margin-left: $_9;
      }
      &10 {
        margin-left: $_10;
      }
      &11 {
        margin-left: $_11;
      }
      &12 {
        margin-left: $_12;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Specific widths
// @media screen and (min-width: 576px) and (max-width: 768px) {  }
// @media screen and (min-width: 769px) and (max-width: 992px) {  }
// @media screen and (min-width: 993px) and (max-width: 1199px) {  }
