.social-media {
  display: inline-block;
  border: 1px solid white;
  border-radius: 100px;
  width: max-content;
  height: max-content;

  &__icon {
    display: block;
    width: 30px;
    height: 30px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: black;

    &_facebook {
      mask-image: url(./facebook-f-brands.svg);
      mask-size: 10px;
    }
    &_twitter {
      mask-image: url(./twitter-brands.svg);
      mask-size: 14px;
    }
    &_instagram {
      mask-image: url(./instagram-brands.svg);
      mask-size: 15px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Desktop
// @media (min-width: 992px) {}
