$child-height: 100px;
$transition-speed: 0.15s;
$transition-top: 20px;

.ao-any-hover-show {
  $parent: &;
  position: relative;

  a:hover ~ &__child,
  &__child:hover {
    height: $child-height;
  }

  &__child {
    position: absolute;
    overflow: hidden;
    height: 0;
  }

  &_height {
    a:hover ~ #{$parent}__child,
    #{$parent}__child:hover {
      transition: height $transition-speed ease-out;
    }

    #{$parent}__child {
      transition: height $transition-speed ease-out;
    }
  }

  &_opacity {
    a:hover ~ #{$parent}__child,
    #{$parent}__child:hover {
      opacity: 1;
      transition: height 0.1s, opacity $transition-speed;
    }

    #{$parent}__child {
      opacity: 0;
      transition: height 1s, opacity $transition-speed;
    }
  }

  &_down-top {
    a:hover ~ #{$parent}__child,
    #{$parent}__child:hover {
      opacity: 1;
      transition: height 0.1s, opacity $transition-speed, top $transition-speed;
      top: $transition-top;
    }

    #{$parent}__child {
      opacity: 0;
      transition: height 1s, opacity $transition-speed, top $transition-speed;
      top: $transition-top + 20px;
    }
  }
}
