$child-height: 100px;
$transition-speed: 0.15s;
$transition-top: 20px;

.ao-menu-show {
  &__list {
    &-item {
      $parent: &;

      &_hover {
        &:hover #{$parent}-child {
          height: $child-height;
        }
      }
      &_hover#{$parent}_height {
        #{$parent}-child {
          transition: height $transition-speed ease-out;
        }
        &:hover #{$parent}-child {
          height: $child-height;
          transition: height $transition-speed ease-out;
        }
      }

      &_click {
        #{$parent}_open ~ #{$parent}-child,
        #{$parent}-child#{$parent}_open {
          height: $child-height;
        }
      }
      &_click#{$parent}_height {
        #{$parent}_open ~ #{$parent}-child,
        #{$parent}-child#{$parent}_open {
          transition: height $transition-speed ease-out;
        }

        #{$parent}-child {
          transition: height $transition-speed ease-out;
        }
      }

      &-child {
        overflow: hidden;
        height: 0;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query necessary since this is the default

////////////////////////////////////////////////////////////////////////////////
// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {  }

////////////////////////////////////////////////////////////////////////////////
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .ao-menu-show {
    &__list {
      display: flex;

      &-item {
        &-child {
          position: absolute;
        }
      }
    }

    &__md-list {
      display: flex;
      list-style-type: none;

      &-item {
        $parent: &;

        &_click {
          &:hover .ao-menu-show__list-item-child {
            height: 0;
          }
          .ao-menu-show__list-item-child.ao-menu-show__list-item_open {
            height: $child-height;
          }
        }
        &_click.ao-menu-show__md-list-item_height {
          &:hover .ao-menu-show__list-item-child {
            height: 0;
          }
          .ao-menu-show__list-item-child.ao-menu-show__list-item_open {
            height: $child-height;
            transition: height $transition-speed ease-out;
          }
        }

        &_hover {
          &:hover .ao-menu-show__list-item-child {
            height: $child-height;
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {  }

////////////////////////////////////////////////////////////////////////////////
// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {  }

////////////////////////////////////////////////////////////////////////////////
// Specific widths
// @media screen and (min-width: 576px) and (max-width: 768px) {  }
// @media screen and (min-width: 769px) and (max-width: 992px) {  }
// @media screen and (min-width: 993px) and (max-width: 1199px) {  }
