.as-one__background-gradient {
  width: 100vw;
  height: 100vh;
  animation: as-one__progress-bar 60s infinite;

  &_linear {
    background: linear-gradient(to top, #008aff, #00ffe7);
  }
  &_radial {
    background: radial-gradient(#008aff, #00ffe7);
  }
}

@keyframes as-one__progress-bar {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
