.form-group > * {
  display: block;
  width: 100%; }

.form-control {
  display: block;
  width: 100%; }
  .form-control-lg {
    font-size: 1.25rem; }
  .form-control-sm {
    font-size: 0.875rem; }
  .form-control[readonly] {
    background-color: #e9ecef; }
  .form-control-plaintext {
    display: block;
    width: 100%;
    border: solid transparent;
    background-color: transparent;
    border-width: 1px 0; }

.form-check-inline {
  display: inline; }

.form-check [disabled] ~ label {
  color: #6c757d; }

.form-label-lg {
  font-size: 1.25rem; }

.form-label-sm {
  font-size: 0.875rem; }

.form-inline-group {
  display: inline; }
  .form-inline-group > * {
    display: inline;
    width: initial; }

fieldset[disabled] {
  border: solid transparent; }

.needs-validation .valid-feedback,
.needs-validation .invalid-feedback {
  display: none; }

.needs-validation.was-validated .is-valid {
  border-color: #28a745; }
  .needs-validation.was-validated .is-valid ~ .valid-feedback {
    display: block; }

.needs-validation.was-validated .is-invalid {
  border-color: #dc3545; }
  .needs-validation.was-validated .is-invalid ~ .invalid-feedback {
    display: block; }
