.footer {
  margin-top: 120px;
  padding: 65px 25px 30px;

  &__logo {
    img {
      background: var(--lightGrayishBlue);
    }
  }
  &__main {
    margin-top: 20px;

    &-ul-icon {
      padding-right: 40px;

      li {
        color: var(--lightGrayishBlue);
      }
    }
    &-ul-simple {

      &:nth-child(2) {
        margin-top: 50px;
      }
      &:nth-child(3) {
        margin-top: 20px;
      }

      list-style-type: none;

      li {
        a {
          color: var(--lightGrayishBlue);
        }
      }
    }
    &-social-media {
      display: flex;
      justify-content: space-between;
      width: 105px;
      margin: 45px auto 0;
      list-style-type: none;

      li {
        a {

          span {
            background-color: var(--lightGrayishBlue);
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Desktop
@media (min-width: 992px) {
  .footer {
    padding: 180px 75px 90px;
    margin-top: 150px;

    &__logo {
    }
    &__main {
      display: flex;
      margin-top: 15px;

      &-ul-icon {
        width: 40%;
      }
      &-ul-simple {
        margin-top: 0;
        width: 20%;

        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }
      }
      &-social-media {
        margin: 0;
      }
    }
  }
}
