@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.ao-main {
  height: 100vh;
  overflow-x: hidden;

  &__slide {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    text-align: center;
    color: #fff;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 50px #000;

    &_slide1 {
      background-image: url(./bg1.jpg);
    }
    &_slide2 {
      background-image: url(./bg2.jpg);
    }
    &_slide3 {
      background-image: url(./bg3.jpg);
    }
  }
  &__title {
    font-size: 500%;
    text-shadow: 0 10px 50px #000;
  }
}
