.ul-icon {
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 0;
  list-style: none;

  &__li {
    color: black;
    padding-left: 50px;
    background-repeat: no-repeat;
    line-height: 25px;
    background-position-x: 10px;
    background-position-y: 5px;

    &:not(:nth-child(1)) {
      margin-top: 23px;
    }

    &_location {
      background-image: url(./icon-location.svg);
      background-size: 15px;
      background-position-x: 13px;
    }
    &_phone {
      background-image: url(./icon-phone.svg);
      background-size: 20px;
    }
    &_email {
      background-image: url(./icon-email.svg);
      background-size: 22px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Desktop
// @media (min-width: 992px) {}
